<div class="footer__container">
    <div class="social__media">
        <div class="social__media--wrap">
            <div class="footer__logo">
                <img src="images/fast_logo.png" alt="FAST logo" class="custom-logo" />
                <span class="logo-text">FAST</span>
            </div>
            <p class="website__rights">© 2025 FAST. All rights reserved.</p>
            <div class="social__icons">
                <a href="/" class="social__icon--link" target="_blank">
                    <i class="fa fa-facebook"></i>
                </a>
                <a href="/" class="social__icon--link" target="_blank">
                    <i class="fa fa-instagram"></i>
                </a>
                <a href="/" class="social__icon--link" target="_blank">
                    <i class="fa fa-linkedin"></i>
                </a>
                <a href="/" class="social__icon--link" target="_blank">
                    <i class="fa fa-youtube"></i>
                </a>
            </div>
        </div>
    </div>
</div>